* {
  margin:0;
  padding:0;
}
*:focus { outline:none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display:block; }
audio, canvas, video { display:inline; }
html { font-size:100%; }
body {
  font-size:13px;
  line-height:1.231;
  margin:0;
}
body, button, input, select, textarea {
  font-family:sans-serif;
  color:#222;
}
a { color:#07e; }
a:visited { color:#551a8b; }
a:hover { color:#0ae; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }
abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:700; }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0;
}
ins {
  background:#ff9;
  color:#000;
  text-decoration:none;
}
mark {
  background:#ff0;
  color:#000;
  font-style:italic;
  font-weight:700;
}
pre, code, kbd, samp {
  font-family:monospace, monospace;
  font-size:1em;
}
pre { white-space:pre-wrap; }
q { quotes:none; }
q:before, q:after { content:none; }
small { font-size:85%; }
sub, sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sup { top:-.5em; }
sub { bottom:-.25em; }
ul, ol {
  margin:0;
  padding:0;
}
dd { margin:0 0 0 40px; }
nav ul, nav ol {
  list-style:none;
  list-style-image:none;
  margin:0;
  padding:0;
}
img {
  border:0;
  vertical-align:middle;
}
svg:not(:root) { overflow:hidden; }
fieldset {
  border:0;
  margin:0;
  padding:0;
}
legend {
  border:0;
  margin-left:-7px;
  padding:0;
}
button, input, select, textarea {
  font-size:100%;
  vertical-align:middle;
  margin:0;
}
button, input {
  line-height:normal;
  overflow:visible;
}
table button, table input { overflow:auto; }
button::-moz-focus-inner, input::-moz-focus-inner {
  border:0;
  padding:0;
}
textarea {
  overflow:auto;
  vertical-align:top;
}
input:invalid, textarea:invalid { background-color:#f0dddd; }
table {
  border-collapse:collapse;
  border-spacing:0;
}
td { vertical-align:top; }
.ir {
  display:block;
  border:0;
  text-indent:-999em;
  overflow:hidden;
  background-color:transparent;
  background-repeat:no-repeat;
  text-align:left;
  direction:ltr;
}
.hidden {
  display:none !important;
  visibility:hidden;
}
.visuallyhidden {
  border:0;
  clip:rect(0000);
  height:1px;
  overflow:hidden;
  position:absolute;
  width:1px;
  margin:-1px;
  padding:0;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip:auto;
  height:auto;
  overflow:visible;
  position:static;
  width:auto;
  margin:0;
}
.invisible { visibility:hidden; }
.clearfix:before, .clearfix:after {
  content:"";
  display:table;
}
.clearfix:after { clear:both; }
audio:not([controls]), [hidden], .ir br { display:none; }
::-moz-selection, ::selection {
  background:#fe57a1;
  color:#fff;
}
figure, form { margin:0; }
label, button, input[type=button], input[type=reset], input[type=submit] { cursor:pointer; }
@media print {
  * {
    background:transparent !important;
    color:#000 !important;
  }
  a, a:visited { text-decoration:underline; }
  a[href]:after { content:" (" attr(href) ")"; }
  abbr[title]:after { content:" (" attr(title) ")"; }
  pre, blockquote {
    border:1px solid #999;
    page-break-inside:avoid;
  }
  thead { display:table-header-group; }
  tr, img { page-break-inside:avoid; }
  img { max-width:100% !important; }
  p, h2, h3 {
    orphans:3;
    widows:3;
  }
  h2, h3 { page-break-after:avoid; }
}
.test {
  background:aqua;
  overflow:visible;
}
.appriseOverlay {
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.3);
  display:none;
}
.appriseOuter {
  background:#eee;
  border:1px solid #fff;
  box-shadow:0 3px 7px #333;
  -moz-box-shadow:0 3px 7px #333;
  -webkit-box-shadow:0 3px 7px #333;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  -khtml-border-radius:4px;
  z-index:99999999;
  min-width:200px;
  min-height:50px;
  max-width:75%;
  position:fixed;
  display:none;
}
.appriseInner {
  color:#333;
  text-shadow:0 1px 0 #fff;
  padding:20px;
}
.appriseInner button {
  border:1px solid #bbb;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  -khtml-border-radius:3px;
  background:0;
  color:#232d3d;
  font-size:12px;
  font-weight:700;
  text-shadow:0 1px 0 #fff;
  cursor:pointer;
  box-shadow:0 1px 2px #ccc;
  -moz-box-shadow:0 1px 2px #ccc;
  -webkit-box-shadow:0 1px 2px #ccc;
  margin:0 3px;
  padding:4px 10px;
}
.appriseInner button:hover { color:#d85054; }
.aButtons, .aInput {
  text-align:center;
  margin:20px 10px 0;
}
.aTextbox {
  border:1px solid #aaa;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  -khtml-border-radius:4px;
  box-shadow:0 1px 0 #fff;
  -moz-box-shadow:0 1px 0 #fff;
  -webkit-box-shadow:0 1px 0 #fff;
  width:180px;
  font-size:12px;
  font-weight:700;
  padding:5px 10px;
}
.alpha { margin-left:0; }
.omega { margin-right:0; }
.clear {
  clear:both;
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0;
}
.tester {
  position:fixed;
  top:0;
  background:#aaa;
  height:100%;
  width:960px;
  left:50%;
  margin-left:-480px;
  z-index:1;
  opacity:0.2;
}
.tester div {
  height:100%;
  background:#eee;
  width:40px;
  left:0px;
  text-align:left;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
.font { font-family:'Basic', sans-serif; }
.insetfont {
  color:#f5f5f5;
  text-shadow:0px 1px 0px #002040;
  text-decoration:none;
  font-family:'Basic', sans-serif;
}
.tester { visibility:visible; }
body {
  background:#2a2a2a;
  font-family:'Basic', sans-serif;
}
header { width:100%; }
header #header {
  margin:0 auto;
  width:960px;
  padding-top:10px;
  padding-bottom:10px;
}
header #header h1 {
  height:110px;
  width:280px;
  left:0px;
  text-align:left;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
header #header #companyname {
  color:#f5f5f5;
  font-size:1.4em;
  margin-top:28px;
  width:640px;
  left:0px;
  text-align:center;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
header nav {
  width:100%;
  margin-top:-46px;
  background:#005b79;
  background-image:-moz-linear-gradient(top,#00698C,#004C66);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#00698C),to(#004C66));
  background-image:-webkit-linear-gradient(top,#00698C,#004C66);
  background-image:-o-linear-gradient(top,#00698C,#004C66);
  background-image:linear-gradient(top,#00698C,#004C66);
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  background-image:-ms-linear-gradient(top,#00698C,#004C66);
  behavior:url(PIE.htc);
}
header nav ul {
  padding-top:4px;
  padding-bottom:10px;
}
header nav ul li#nav_inicio {
  width:40px;
  left:0px;
  text-align:center;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
header nav ul li#nav_almacenaje { display:none; }
header nav ul li#nav_carrocerias {
  width:100px;
  left:0px;
  text-align:center;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
header nav ul li#nav_servicios {
  width:100px;
  left:0px;
  text-align:center;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
header nav ul li#nav_personalizacion {
  width:100px;
  left:0px;
  text-align:center;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
header nav ul li#nav_mas {
  width:100px;
  left:0px;
  text-align:center;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
header nav ul li#nav_contacto {
  width:100px;
  left:0px;
  text-align:center;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
header nav ul li ul.level2 {
  position:absolute;
  display:none;
  z-index:100;
  width:100%;
  background:#005b79;
  background-image:-moz-linear-gradient(top,#00698C,#004C66);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#00698C),to(#004C66));
  background-image:-webkit-linear-gradient(top,#00698C,#004C66);
  background-image:-o-linear-gradient(top,#00698C,#004C66);
  background-image:linear-gradient(top,#00698C,#004C66);
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  background-image:-ms-linear-gradient(top,#00698C,#004C66);
  behavior:url(PIE.htc);
}
header nav ul li ul.level2 a {
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  behavior:url(PIE.htc);
}
header nav ul li:hover ul.level2 { display:block; }
header nav ul li a {
  display:block;
  padding:10px 0;
  color:#f5f5f5;
  text-shadow:0px 1px 0px #002040;
  text-decoration:none;
  font-family:'Basic', sans-serif;
}
header nav ul li a:hover, header nav ul li a.active, header nav ul li a:visited {
  background:#2a2a2a;
  color:#f5f5f5;
  text-shadow:0 0 3px #00A3D9;
  -moz-border-radius:4px 4px 0 0;
  -webkit-border-radius:4px 4px 0 0;
  border-radius:4px 4px 0 0;
  behavior:url(PIE.htc);
}
.hr {
  display:block;
  width:100%;
  height:2px;
  background:#00A3D9;
}
#slider {
  width:100%;
  background:#f5f5f5;
  height:240px;
}
#slider .slider_container {
  width:960px;
  height:350px;
  margin:0 auto;
  width:960px;
  padding-top:0px;
  padding-bottom:0px;
}
#slider article .titletext {
  margin-top:70px;
  color:#004C66;
  font-size:4em;
  line-height:40px;
  width:340px;
  left:0px;
  text-align:left;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
#slider article .titletext span {
  display:block;
  font-size:0.6em;
}
#slider article .imgs {
  margin-top:10px;
  width:580px;
  left:0px;
  text-align:center;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
#about {
  padding-bottom:-10px;
  margin:0 auto;
  width:960px;
  padding-top:70px;
  padding-bottom:70px;
}
#about nav {
  margin-top:10px;
  width:280px;
  left:60px;
  text-align:left;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
#about nav ul { border:2px solid #00A3D9; }
#about nav ul li {
  display:block;
  background:#005b79;
  background-image:-moz-linear-gradient(top,#00698C,#004C66);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#00698C),to(#004C66));
  background-image:-webkit-linear-gradient(top,#00698C,#004C66);
  background-image:-o-linear-gradient(top,#00698C,#004C66);
  background-image:linear-gradient(top,#00698C,#004C66);
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  background-image:-ms-linear-gradient(top,#00698C,#004C66);
  behavior:url(PIE.htc);
}
#about nav ul li a {
  display:block;
  padding:18px 5px;
  color:#f5f5f5;
  text-shadow:0px 1px 0px #002040;
  text-decoration:none;
  font-family:'Basic', sans-serif;
}
#about nav ul li a img { margin:-2px 10px 0 4px; }
#about nav ul li a:hover {
  background:#2a2a2a;
  color:#f5f5f5;
  text-shadow:0 0 3px #00A3D9;
}
#about #abouttext {
  width:520px;
  left:60px;
  text-align:justify;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
#about #abouttext article { margin-bottom:20px; }
#about #abouttext article h3 {
  color:#f5f5f5;
  font-size:1.4em;
  margin:0;
  color:#f5f5f5;
  text-shadow:0px 1px 0px #002040;
  text-decoration:none;
  font-family:'Basic', sans-serif;
}
#about #abouttext article p { color:#868686; }
#about #abouttext article p strong { color:#f5f5f5; }
#about #weare {
  background:#f5f5f5;
  color:#2a2a2a;
  border-top:2px solid #00698C;
  border-bottom:2px solid #00A3D9;
  display:inline;
  float:left;
  position:relative;
  width:840px;
  left:60px;
  text-align:left;
  margin:0;
}
#about #weare #remodel {
  padding:60px 0 40px 0;
  color:#f5f5f5;
  display:inline;
  float:left;
  position:relative;
  width:840px;
  left:0px;
  text-align:left;
  margin:0;
  background:#005b79;
  background-image:-moz-linear-gradient(top,#00698C,#004C66);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#00698C),to(#004C66));
  background-image:-webkit-linear-gradient(top,#00698C,#004C66);
  background-image:-o-linear-gradient(top,#00698C,#004C66);
  background-image:linear-gradient(top,#00698C,#004C66);
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  background-image:-ms-linear-gradient(top,#00698C,#004C66);
  behavior:url(PIE.htc);
}
#about #weare #remodel p {
  color:#f5f5f5;
  font-size:1.1em;
  width:460px;
  left:180px;
  text-align:center;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
#about #weare #wearetxt {
  padding:40px 0;
  width:460px;
  left:60px;
  text-align:justify;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
#about #weare #weareimg {
  height:316px;
  background:url('../imgs/weare.png?v=1') no-repeat;
  margin-top:60px;
  width:220px;
  left:60px;
  text-align:center;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
#about #weare h3 {
  color:#004C66;
  font-size:1.5em;
  margin:0 0 10px 0;
}
#about #weare p {
  color:#868686;
  margin-bottom:10px;
}
#about #weare p strong { color:#004C66; }
#about #weare p a {
  color:#004C66;
  font-weight:bold;
}
.ribbon span {
  display:block;
  padding:3px;
  text-align:center;
  font-size:2em;
  background:#004C66;
  margin-top:10px;
  position:relative;
  background:#005b79;
  background-image:-moz-linear-gradient(top,#00698C,#004C66);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#00698C),to(#004C66));
  background-image:-webkit-linear-gradient(top,#00698C,#004C66);
  background-image:-o-linear-gradient(top,#00698C,#004C66);
  background-image:linear-gradient(top,#00698C,#004C66);
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  background-image:-ms-linear-gradient(top,#00698C,#004C66);
  behavior:url(PIE.htc);
  color:#f5f5f5;
  text-shadow:0px 1px 0px #002040;
  text-decoration:none;
  font-family:'Basic', sans-serif;
  -moz-box-shadow:0px 0px 6px #000;
  -webkit-box-shadow:0px 0px 6px #000;
  box-shadow:0px 0px 6px #000;
  behavior:url(PIE.htc);
}
.ribbon span span {
  z-index:-1;
  height:35px;
  width:6px;
  padding:0;
  position:absolute;
  top:5px;
  background:#003c51;
  background-image:-moz-linear-gradient(top,#00465d,#003344);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#00465d),to(#003344));
  background-image:-webkit-linear-gradient(top,#00465d,#003344);
  background-image:-o-linear-gradient(top,#00465d,#003344);
  background-image:linear-gradient(top,#00465d,#003344);
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00465d, endColorstr=#003344)";
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00465d, endColorstr=#003344)";
  background-image:-ms-linear-gradient(top,#00465d,#003344);
  behavior:url(PIE.htc);
}
.ribbon span span:first-child { left:-6px; }
.ribbon span span:first-child+span { right:-6px; }
#productos, #servicios {
  padding-bottom:-10px;
  margin:0 auto;
  width:960px;
  padding-top:90px;
  padding-bottom:90px;
}
#productos .maintext, #servicios .maintext {
  color:#f5f5f5;
  font-size:1.1em;
  width:700px;
  left:120px;
  text-align:justify;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
#productos .maintext p, #servicios .maintext p { margin:20px 0; }
#productos .prod, #servicios .prod {
  margin-bottom:20px;
  background:#1e1e1e;
  color:#f5f5f5;
  cursor:pointer;
  width:340px;
  left:120px;
  text-align:left;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  behavior:url(PIE.htc);
}
#productos .prod span, #servicios .prod span {
  display:block;
  padding:3px;
  text-align:center;
  font-size:2em;
  background:#004C66;
  margin-top:10px;
  position:relative;
  background:#005b79;
  background-image:-moz-linear-gradient(top,#00698C,#004C66);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#00698C),to(#004C66));
  background-image:-webkit-linear-gradient(top,#00698C,#004C66);
  background-image:-o-linear-gradient(top,#00698C,#004C66);
  background-image:linear-gradient(top,#00698C,#004C66);
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  background-image:-ms-linear-gradient(top,#00698C,#004C66);
  behavior:url(PIE.htc);
  color:#f5f5f5;
  text-shadow:0px 1px 0px #002040;
  text-decoration:none;
  font-family:'Basic', sans-serif;
  -moz-box-shadow:0px 0px 6px #000;
  -webkit-box-shadow:0px 0px 6px #000;
  box-shadow:0px 0px 6px #000;
  behavior:url(PIE.htc);
}
#productos .prod span span, #servicios .prod span span {
  z-index:-1;
  height:35px;
  width:6px;
  padding:0;
  position:absolute;
  top:5px;
  background:#003c51;
  background-image:-moz-linear-gradient(top,#00465d,#003344);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#00465d),to(#003344));
  background-image:-webkit-linear-gradient(top,#00465d,#003344);
  background-image:-o-linear-gradient(top,#00465d,#003344);
  background-image:linear-gradient(top,#00465d,#003344);
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00465d, endColorstr=#003344)";
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00465d, endColorstr=#003344)";
  background-image:-ms-linear-gradient(top,#00465d,#003344);
  behavior:url(PIE.htc);
}
#productos .prod span span:first-child, #servicios .prod span span:first-child { left:-6px; }
#productos .prod span span:first-child+span, #servicios .prod span span:first-child+span { right:-6px; }
#productos .prod:hover span, #servicios .prod:hover span {
  color:#00698C;
  text-shadow:none;
  background:#808080;
  background-image:-moz-linear-gradient(top,#f5f5f5,#cccccc);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#cccccc));
  background-image:-webkit-linear-gradient(top,#f5f5f5,#cccccc);
  background-image:-o-linear-gradient(top,#f5f5f5,#cccccc);
  background-image:linear-gradient(top,#f5f5f5,#cccccc);
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#cccccc)";
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#cccccc)";
  background-image:-ms-linear-gradient(top,#f5f5f5,#cccccc);
  behavior:url(PIE.htc);
}
#productos .prod img, #servicios .prod img {
  height:auto;
  width:90%;
  margin:5%;
}
#productos .prod .description, #servicios .prod .description {
  color:#f5f5f5;
  font-size:1em;
  position:absolute;
  bottom:0;
  background:#2a2a2a;
  background:rgba(0,0,0,0.9);
  -moz-border-radius:0 0 4px 4px;
  -webkit-border-radius:0 0 4px 4px;
  border-radius:0 0 4px 4px;
  behavior:url(PIE.htc);
}
#productos .prod .description p, #servicios .prod .description p { margin:3% 7% 5% 7%; }
#productos .serv, #servicios .serv {
  margin-bottom:20px;
  background:#1e1e1e;
  color:#f5f5f5;
  width:700px;
  left:120px;
  text-align:left;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  behavior:url(PIE.htc);
}
#productos .serv span, #servicios .serv span {
  display:block;
  padding:3px;
  text-align:center;
  font-size:2em;
  background:#004C66;
  margin-top:10px;
  position:relative;
  background:#005b79;
  background-image:-moz-linear-gradient(top,#00698C,#004C66);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#00698C),to(#004C66));
  background-image:-webkit-linear-gradient(top,#00698C,#004C66);
  background-image:-o-linear-gradient(top,#00698C,#004C66);
  background-image:linear-gradient(top,#00698C,#004C66);
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  background-image:-ms-linear-gradient(top,#00698C,#004C66);
  behavior:url(PIE.htc);
  color:#f5f5f5;
  text-shadow:0px 1px 0px #002040;
  text-decoration:none;
  font-family:'Basic', sans-serif;
  -moz-box-shadow:0px 0px 6px #000;
  -webkit-box-shadow:0px 0px 6px #000;
  box-shadow:0px 0px 6px #000;
  behavior:url(PIE.htc);
}
#productos .serv span span, #servicios .serv span span {
  z-index:-1;
  height:35px;
  width:6px;
  padding:0;
  position:absolute;
  top:5px;
  background:#003c51;
  background-image:-moz-linear-gradient(top,#00465d,#003344);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#00465d),to(#003344));
  background-image:-webkit-linear-gradient(top,#00465d,#003344);
  background-image:-o-linear-gradient(top,#00465d,#003344);
  background-image:linear-gradient(top,#00465d,#003344);
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00465d, endColorstr=#003344)";
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00465d, endColorstr=#003344)";
  background-image:-ms-linear-gradient(top,#00465d,#003344);
  behavior:url(PIE.htc);
}
#productos .serv span span:first-child, #servicios .serv span span:first-child { left:-6px; }
#productos .serv span span:first-child+span, #servicios .serv span span:first-child+span { right:-6px; }
#productos .serv .description, #servicios .serv .description {
  color:#f5f5f5;
  font-size:1.15em;
  -moz-border-radius:0 0 4px 4px;
  -webkit-border-radius:0 0 4px 4px;
  border-radius:0 0 4px 4px;
  behavior:url(PIE.htc);
}
#productos .serv .description p, #servicios .serv .description p { margin:3% 7% 5% 7%; }
#productos .serv ul, #servicios .serv ul {
  margin:3% 14% 5% 14%;
  float:none;
  list-style-position:inside;
}
#productos .serv ul li ul, #servicios .serv ul li ul {
  color:#868686;
  font-size:0.9em;
}
#productos .serv .gallery, #servicios .serv .gallery {
  margin-bottom:20px;
  display:inline;
  float:left;
  position:relative;
  width:480px;
  left:102px;
  text-align:center;
  margin:0;
  margin-left:0;
}
#productos .serv .gallery article, #servicios .serv .gallery article {
  width:100px;
  left:0px;
  text-align:center;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
#productos .serv .gallery article img, #servicios .serv .gallery article img {
  border-style:solid;
  border-width:5px;
  border-color:transparent transparent #004C66 transparent;
}
#productos .serv .gallery article img:hover, #servicios .serv .gallery article img:hover { border-bottom-color:#00698C; }
#productos ul, #servicios ul {
  float:left;
  margin:10px 20px;
}
#productos ul li, #servicios ul li { margin:10px 0; }
#productos blockquote, #servicios blockquote {
  text-align:center;
  background:#1e1e1e;
  padding:20px 10px;
  color:#868686;
  font-size:1.4em;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  behavior:url(PIE.htc);
}
.openpic {
  display:block;
  width:10px;
  height:10px;
  background:#f5f5f5;
  border:2px solid #004C66;
  border-bottom:4px solid #004C66;
  position:absolute;
  left:-5px;
  top:0;
}
.openpic:hover {
  border-color:#00698C;
  background:#808080;
  background-image:-moz-linear-gradient(top,#f5f5f5,#a1a1a1);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#a1a1a1));
  background-image:-webkit-linear-gradient(top,#f5f5f5,#a1a1a1);
  background-image:-o-linear-gradient(top,#f5f5f5,#a1a1a1);
  background-image:linear-gradient(top,#f5f5f5,#a1a1a1);
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#a1a1a1)";
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5, endColorstr=#a1a1a1)";
  background-image:-ms-linear-gradient(top,#f5f5f5,#a1a1a1);
  behavior:url(PIE.htc);
}
.modal {
  position:fixed;
  z-index:999;
  width:100%;
  height:100%;
  background:rgba(33,33,33,0.7);
  display:none;
  text-align:center;
}
.modal span {
  display:block;
  width:29px;
  height:29px;
  position:absolute;
  right:10px;
  top:10px;
  background:url(../imgs/close.png) no-repeat;
  z-index:1000;
  cursor:pointer;
}
.modal img {
  margin:20px auto;
  border:4px solid #004C66;
}
#contacto {
  padding-bottom:-10px;
  margin:0 auto;
  width:960px;
  padding-top:90px;
  padding-bottom:90px;
}
#contacto form {
  margin:0;
  padding:10px 0;
  border-bottom:2px solid #00A3D9;
  background:#005b79;
  background-image:-moz-linear-gradient(top,#00698C,#004C66);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#00698C),to(#004C66));
  background-image:-webkit-linear-gradient(top,#00698C,#004C66);
  background-image:-o-linear-gradient(top,#00698C,#004C66);
  background-image:linear-gradient(top,#00698C,#004C66);
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  background-image:-ms-linear-gradient(top,#00698C,#004C66);
  behavior:url(PIE.htc);
  display:inline;
  float:left;
  position:relative;
  width:360px;
  left:120px;
  text-align:left;
  margin:0;
  font-family:'Basic', sans-serif;
}
#contacto form div {
  width:340px;
  left:0px;
  text-align:left;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
#contacto form div label {
  color:#f5f5f5;
  display:block;
  margin:5px 0;
}
#contacto form div label strong { font-size:1.2em; }
#contacto form div input, #contacto form div textarea, #contacto form div [required], #contacto form div input:-webkit-autofill {
  background:#f5f5f5;
  border:none;
  color:#2a2a2a;
  width:330px;
  padding:5px;
  font-family:'Basic', sans-serif;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  behavior:url(PIE.htc);
}
#contacto form div textarea {
  resize:none;
  height:60px;
}
#contacto form div button {
  background:#2a2a2a;
  color:#f5f5f5;
  border:none;
  padding:7px 30px;
  float:right;
  margin:10px 0;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  behavior:url(PIE.htc);
}
#contacto form div button:hover {
  background:#f5f5f5;
  color:#004C66;
}
#contacto address {
  background:#f5f5f5;
  font-style:normal;
  padding:10px 0;
  border-bottom:2px solid #00A3D9;
  margin-top:80px;
  display:inline;
  float:left;
  position:relative;
  width:360px;
  left:120px;
  text-align:left;
  margin:0;
}
#contacto address #address {
  width:340px;
  left:0px;
  text-align:center;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
#contacto address #address #writeus {
  font-size:1.2em;
  margin:5px 0;
  color:#004C66;
  text-align:left;
}
#contacto address #address strong {
  margin:20px 0;
  font-size:1.2em;
  display:block;
}
#contacto address #address a {
  background:#f5f5f5;
  color:#00A3D9;
  padding:5px 10px;
  margin:20px 0;
  display:block;
  text-decoration:none;
}
#contacto address #address a:hover {
  background:#004C66;
  color:#f5f5f5;
}
footer {
  background:#005b79;
  background-image:-moz-linear-gradient(top,#00698C,#004C66);
  background-image:-webkit-gradient(linear,left top,left bottom,from(#00698C),to(#004C66));
  background-image:-webkit-linear-gradient(top,#00698C,#004C66);
  background-image:-o-linear-gradient(top,#00698C,#004C66);
  background-image:linear-gradient(top,#00698C,#004C66);
  filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00698C, endColorstr=#004C66)";
  background-image:-ms-linear-gradient(top,#00698C,#004C66);
  behavior:url(PIE.htc);
}
footer #footer {
  color:#868686;
  margin:0 auto;
  width:960px;
  padding-top:20px;
  padding-bottom:20px;
}
footer #footer nav {
  width:640px;
  left:60px;
  text-align:left;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
footer #footer nav li {
  line-height:25px;
  display:inline;
  padding:10px;
}
footer #footer nav a {
  color:#f5f5f5;
  text-shadow:0px 1px 0px #002040;
  text-decoration:none;
  font-family:'Basic', sans-serif;
}
footer #footer nav a:hover { color:#868686; }
footer #footer nav ul.level2 { display:none; }
footer #footer address {
  font-style:normal;
  width:220px;
  left:0px;
  text-align:right;
  display:inline;
  float:left;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
footer #footer address h4 {
  font-weight:normal;
  font-size:1em;
  display:none;
  color:#f5f5f5;
  text-shadow:0px 1px 0px #002040;
  text-decoration:none;
  font-family:'Basic', sans-serif;
}
footer #footer address p#tel {
  font-size:1.5em;
  color:#f5f5f5;
}
footer #footer address p { font-size:1.1em; }
